.websiteShowcase {
    opacity: 0;
}

.websiteShowcase:hover {
    opacity: .4;
    color: red;
}

.product img {
    width: 286px;
    height: 97%;
    border-radius: 8px;
    margin: 7px;
    text-align: center;
}

#portfolio,
#portfolio1,
#portfolio2,
#portfolio3,
#portfolio4,
#portfolio5 {
    height: 100%;
}